.dashboard-container {
    min-height: 100vh;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
  }
  
  .dashboard-card {
    width: 100%;
    max-width: 900px;
    background: var(--white);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    text-align: center;
  } 
  
  .dashboard-card h3 {
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .btn.suggest-btn {
    background-color: var(--green);    
    color: var(--white);             
    border-radius: 999px;   
    margin:30px 30px;
    padding: 8px 28px;         
    font-weight: 600;
    border: none;
    width: auto;
    align-self: center;
    transition: all 0.3s ease;
   
  }
  
  .btn.suggest-btn:hover {
    background: var(--dark-green);
    color: var(--white); 
    transform: translateY(-2px);
  }
  
  .job-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    animation: fadeIn 1.0s ease-in-out;
  }
  
  .job-item {
    /* background: #d2fce9; */
    background: var(--opac-green);
    padding: 18px 22px;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
    /* transition: all 0.25s ease; */
  }
  .job-item:hover{
    border: 1.5px solid var(--green) ;
    border-radius: 12px;
  }
  
.job-item.selected {
    border: 1.5px solid var(--green);
    background: var(--min-green);
  }
  .job-item p {
    margin: 6px 0 0;
    font-size: 14px;
    color: #333;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tick {
    color: var(--green);
    font-size: 18px;
    font-weight: bold;
  }