/* NAVBAR */
.skill-navbar {
    background: var(--green);
    padding: 10px 0;
  }  
  .skill-logo {
    font-size: 32px;
    font-weight: 700;
  }
  .skill-logo span {
    font-size: 32px;
    color: var(--white)
  }
    /* PROFILE ICON BUTTON */
.profile-icon-btn {
  background: transparent;
  border: none;
  color: var(--white);
  font-size: 28px;
  cursor: pointer;
  padding: 4px;
}
.profile-icon-btn:focus {
  outline: none;
  box-shadow: none;
}
/* DROPDOWN MENU */
.profile-dropdown .dropdown-menu {
  border-radius: 10px;
  padding: 7px 0;
  min-width: 180px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
/* DROPDOWN ITEMS */
.profile-dropdown .dropdown-item {
  font-size: 14px;
  padding: 10px 16px;
}
.profile-dropdown .dropdown-item:hover {
  background:var(--min-green);
}
.profile-dropdown .dropdown-item.logout-item {
  color: red;
  font-weight: 500;
}
.profile-dropdown .dropdown-item.logout-item:hover {
  background-color: rgba(229, 57, 53, 0.1);
  color: var(--red);
}

  
