.admin-container{
  background:var(--white)
}
.admin-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
} 
.admin-title{
  color:var(--dark-green);
  text-align: left;
  flex: 1;
}
.btn.admin-logout-btn{
  background: var(--red);
  color: var(--white);
  border: none;
  padding: 5px 20px;
  border-radius: 25px;
  transition: 0.3s ease;
}

.btn.admin-logout-btn:hover{
  background: var(--red);
  color: var(--white);
  transform: translateY(-2px);
}
.admin-user-card {
    background: var(--light-grey);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    border: 1.5px solid transparent;
  }
  
  .admin-user-card:hover {
    transform: scale(1.02);
    border: 1px solid var(--opac-green) !important;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    /* border-radius: 12px; */
  }
  
  .user-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
  }
  
  .user-icon {
    font-size: 30px;
    /* color: var(--green); */
  }
  
  .user-icon.large {
    font-size: 50px;
  }
  
  .user-detail-card {
    background: var(--min-green);
    padding: 40px;
    border-radius: 15px;
  }
  .detail-user{
    color:var(--dark-grey);
  }
  .detail-user-head{
    color:var(--green);
  }
  
  .admin-actions {
    margin-top: 30px;
    display: flex;
    gap: 20px;
  }
  
  .update-btn {
    background: var(--dark-green);
    border: none;
    padding: 10px 40px;
    border-radius: 25px;
    color: var(--white);
    transition: 0.3s ease;
  }
  
  .delete-btn {
    background: var(--red);
    color: var(--white);
    border: none;
    padding: 10px 40px;
    border-radius: 25px;
    transition: 0.3s ease;
  }
  .update-btn:hover {
    background: var(--green);
    transform: translateY(-2px);
  }
  .delete-btn:hover {
    transform: translateY(-2px);
  }
  
  .back-btn {
    border: none;
    background: none;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .not-provided {
    color: var(--red);
    font-weight: 500;
  }





  .modal-head{
    color:var(--green);
  }

  .modal-overlay{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
  }
  
  .modal-box{
    background:var(--min-green);
    padding:30px;
    border-radius:10px;
    width:400px;
    display:flex;
    flex-direction:column;
    gap:20px;
  }
  
  .modal-box input{
    padding:10px;
    border:1px solid var(--dark-green);
    border-radius:8px;
  }
  
  .modal-actions{
    display:flex;
    justify-content:flex-end;
    gap:20px;
  }
  
 .btn.cancel-btn{
    background:var(--red);
    color:var(--white);

    background: var(--dark-grey);
    color: var(--white);
    border: none;
    padding: 10px 40px;
    border-radius: 25px;
  }
  
  .btn.delete-confirm-btn{
    background:var(--red);
    color:var(--white);
    border: none;
    padding: 10px 40px;
    border-radius: 25px;

    /* background: var(--red);
    color: var(--white);
    border: none;
    padding: 10px 40px;
    border-radius: 25px; */
  }
  
  .btn.up-save-btn{
    background:var(--dark-green);
    color:var(--white);
    border: none;
    padding: 10px 40px;
    border-radius: 25px;
  }