.profile-container {
    min-height: 100vh;
    background: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-card {
    width: 100%;
    max-width: 1100px;   /* controls left/right space */
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  }
  
  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Circular progress */
  .progress-circle {
    position: relative;
    width: 70px;
    height: 70px;
  }
  
  .progress-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 600;
    color: var(--green);
  }
  
  .progress-circle circle {
    transition: stroke-dashoffset 0.4s ease;
  }
  
  
  .profile-header h2 {
    /* text-align: center; */
    color: var(--green);
    margin-bottom: 20px;
  }


  
  .form-group {
    margin-bottom: 16px;
  }
  
  .form-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: var(--grey);
  }
  .radio-group-inline {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 6px;
  }
  
  .radio-inline {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .radio-inline input {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  
  .radio-group {
    display: flex;
    gap: 20px;
  }
  
  .radio-group input {
    margin-right: 6px;
  }
  
  
  /* TAG INPUT */
  .tag-input {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    background: var(--grey);
    padding: 8px;
    border-radius: 8px;
  }
  
  .tag-input input {
    border: none;
    background: transparent;
    flex: 1;
    min-width: 120px;
    outline: none;
  }
  
  .tag {
    background: var(--green);
    color: white;
    padding: 4px 10px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  
  .tag .remove {
    margin-left: 6px;
    cursor: pointer;
  }
  
  /* BUTTON */
  .btn.save-btn {
    background-color: var(--green);    
    color: var(--white);             
    border-radius: 999px;   
    margin:8px 8px;  
    padding: 8px 28px;         
    font-weight: 600;
    border: none;
    width: auto;
    align-self: center;
  }
  
  .btn.save-btn:hover {
    background-color: var(--dark-green);
  color: var(--white);
  }
  